<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="YourSuiteName">


    <test name="stage2">
        <classes>
            <class name="stage2.RegisterTest" />
        </classes>
    </test>

    <test name="Stage3">
        <classes>
            <class name="stage3.LoginTest" />
            <class name="stage3.RegisterTest" />
        </classes>
    </test>

    <test name="Stage4">
        <classes>
            <class name="stage4.LoginTest" />
            <class name="stage4.RegisterTest" />
        </classes>
    </test>

    <test name="Stage5">
        <parameter name="browserType" value="firefox"/>
        <parameter name="executionType" value="remote"/>
        <classes>
            <class name="stage5.LoginTest" />
            <class name="stage5.RegisterTest" />
        </classes>
    </test>

    <test name="Stage6">
        <parameter name="browserType" value="chrome"/>
        <parameter name="executionType" value="local"/>
        <classes>
            <class name="stage6.LoginTest" />
            <class name="stage6.RegisterTest" />
        </classes>
    </test>

    <test name="Stage7">
        <parameter name="browserType" value="chrome"/>
        <parameter name="executionType" value="local"/>
        <classes>
            <class name="stage7.HomeTest" />
            <class name="stage7.RegisterTest" />
            <class name="stage7.LoginTest" />
            <class name="stage7.BrowseCategoriesTest" />
            <class name="stage7.PostAnAdTest" />
            <class name="stage7.MyAdsProfileTest" />
        </classes>
    </test>

</suite>